@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&display=swap');

* {
    font-family: 'Dosis', sans-serif;
}

.wrapper {
    margin: 100px auto;
}

.weather {
    margin: 0 auto;
    padding: 20px;
    max-width: 350px;
    border-radius: 15px;
    background-color: #5F9EA0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.weather__header {
    display: flex;
}

.weather__main {
    flex: 1 1 auto;
}

.weather__city {
    font-size: 40px;
    font-weight: 500;
    color: #fff;
}

.weather__status {
    margin-top: 10px;
    font-weight: 300;
    font-size: 20px;
    
}

.weather__temp {
    margin-top: 4px;
    font-size: 30px;
    font-weight: 500;
}

.weather__feels-like {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 500
}

.weather__temp::after,
.weather__feels-like::after {
    content: "℃";
    margin-left: 2px;
}

.weather__loading {
    display: flex;
    justify-content: center;
    align-items: center;
}